<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
<mat-card>
    <mat-card-header>
        <mat-card-title data-cy="eventCardTitle">
            Creators
        </mat-card-title>
    </mat-card-header>
    <mat-list>
        <mat-list-item *ngFor="let user of users" [routerLink]="['/profile', user.uid]">
            <img matListItemAvatar [src]="user.photoURL" referrerpolicy="no-referrer" [alt]="user.displayName">
            <h3 matListItemTitle>{{user.displayName}}</h3>
            <p matListItemLine>www.youtube.com/@{{user.youTubeHandle}}</p>
        </mat-list-item>
    </mat-list>
</mat-card>